<section class="shop-categories">

<h2>Category</h2>

<ul class="tile-4 small-tile-2">
  {% for c in categories %}

  <li class="category-tease">
    <a href="{{ c.link }}">
      <figure>
        <img src="{{ c.image }}" alt="{{ c.name }} Thumbnail">
      </figure>
      <h3>{{ c.name }} ({{ c.category_count }})</h3>
    </a>
  </li>

  {% endfor %}
</ul>

</section>
