<!DOCTYPE html>
<html lang="en">

{{> "head" }}

<body class="{{ body_class }}">

  <div id="main-wrapper">
    
    <nav role="banner" style="background-image: url({{ @blog.cover }})">
      <a href="{{ @blog.url }}">
        <img src="{{ @blog.logo }}" alt="{{ @blog.title }}'s Logo">
        <h1>{{ @blog.title }}</h1>
      </a>
    </nav>

    {{{ body }}}

    <div id="footer-push"></div>
  </div>

  <footer class="main-footer">
    {{ @blog.title }} &copy; {{ date format="YYYY" }}
    <a href="{{ @blog.url }}/rss/">Subscribe</a>
  </footer>

  {{> "foot" }}

</body>
</html>
