<!DOCTYPE html>
<html {{ site.language_attributes }}>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ wp_title }}</title>

  {{ wp_head }}
</head>

<body class="{{ body_class }}">

<div id="main-wrapper">

{# MAIN NAV #}
{% block nav %}
<section class="main-nav">
<h-grid> <div class="nav-col">

  <div class="nav-logo">
    {{ fn('the_custom_logo') }}

    {% if logo_mobile %}
      <div class="mobile-logo">
        <a href="{{ home_url }}"> <img src="{{ logo_mobile }}"> </a>
      </div>
    {% endif %}
  </div>

  <div id="nav-toggle" class="nav-item nav-item--toggle">
    <a>
      <i class="dashicons-before dashicons-menu"></i> <b>Menu</b>
    </a>
  </div>

  <nav class="nav-item-wrapper">
  {% for item in nav.items %}
    <div class="nav-item {{ item.class }}">
      <a href="{{ item.url }}"> {{ item.title }} </a>

      {# child menu #}
      {% if item.children %}
        <div class="nav-dialog nav-dialog--children">
          {% for child in item.children %}
            <a href="{{ child.url }}">{{ child.title }}</a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
  </nav>


  <div class="nav-extra">
    <form class="menu-item search-form" method="get" action="{{ home_url }}">
      <input id="search" type="search" name="s" placeholder="Search">
      <label for="search" class="search-toggle"> <i class="dashicons-before dashicons-search"></i> </label>
    </form>
  </div>

</div> </h-grid>

</section>
{% endblock %}

  {# MAIN CONTENT #}
  {% block content %}{% endblock %}

  {# Use mixin `@sticky-footer($height-px)` to push the footer when content is not high enough #}
  <div id="footer-push"></div>
</div>

{# MAIN FOOTER #}
{% block footer %}
<footer class="main-footer">

  {# widgets #}
  {% if footer_widgets %}
    <div class="footer-widgets">
      <h-grid> {{ footer_widgets }} </h-grid>
    </div>
  {% endif %}

  {# copyright bar #}
  <div class="footer-bar">
    <h-grid>
      <div class="copyright large-6">
        <header> Copyright &copy; {{ "now" | date("Y") }} {{ site.name }} </header>

        {% for i in social_nav.items %}
          <a href="{{ i.url }}" target="_blank" class="social-logo social-logo__{{ i.title }}"> </a>
        {% endfor %}
      </div>

      <div class="partners large-6">
        <header>Created by:</header>
        <a href="https://pixelstudio.id" target="_blank">
          <img src="http://cdn.setyono.net/pixelstudio/partner-logo.png" alt="Pixel Studio Logo">

          <div class="partner-caption">
            <h5>Pixel Studio</h5>
            <p>Web & App Design</p>
          </div>
        </a>
      </div>

    </div> </h-grid>
  </div>

</footer>
{% endblock %}

{{ wp_footer }}

</body>
</html>
