{% if pagination.total > 1 %}
<nav class="pagination">
  <a {% if pagination.prev %} href="{{ pagination.prev.link }}" {% endif %}
    class="button-passive">
    ← {{ __( 'Newer', 'my' ) }}
  </a>

  <select id="pagination" class="button-passive" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
  {% for page in pagination.pages %}
    {% if page.link %}
      <option value="{{ page.link }}">Page {{ page.title }}</option>
    {% elseif page.class == 'dots' %}
      <option disabled>{{ page.title }}</option>
    {% else %}
      <option selected disabled>Page {{ page.title }} of {{ pagination.total }}</option>
    {% endif %}
  {% endfor %}
  </select>

  <a {% if pagination.next %} href="{{ pagination.next.link }}" {% endif %}
    class="button-passive">
    {{ __( 'Older', 'my' ) }} →
  </a>
</nav>
{% endif %}
