{% if post %}
  <section class="post-banner {{ not post.thumbnail ? 'no-banner' : '' }}"
    style="width: {{ post.thumbnail.width }}px; background-image: url('{{ post.thumbnail.src('large') }}');">

    <h-row class="post-row"><h-column class="post-col">

      <div class="post-tip">
        <span>Latest {{ term.name ? term.name : 'Post' }} </span>
      </div>

      <h1>{{ post.title }}</h1>
      <time datetime="{{ p.post_date | date('Y-m-d') }}"> {{ p.post_date | date }} </time>

      {{ post.get_preview(25, false, "") | wpautop }}

      <a href="{{ post.link }}" class="post-button">Read More</a>

    </h-column></h-row>

  </section>
{% endif %}
