{% for post in posts %}
  <article class="article front-article">
    <h2> <a href="{{ post.link }}">{{ post.title }}</a> </h2>

    <section class="post-body">
      <p> {{ post.get_preview(25, false, "Read More") }} </p>
    </section>

    <footer class="post-info">
      <time datetime="{{ post.post_date | date('Y-m-d') }}">
        {{ post.post_date | date }}
      </time>
      {% if not term %}
        on {{ post.categories | join(", ") }}
      {% endif %}
    </footer>
  </article>

{% else %}
  <article class="post-content content-error">
    <h1>Sorry</h1>
    <p>We couldn’t find any posts.</p>
  </article>
{% endfor %}
