<!DOCTYPE html>
<html {{ site.language_attributes }}>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ wp_title }}</title>

  {{ wp_head }}
</head>

<body class="{{ body_class }}">

<div id="main-wrapper">

{# MAIN NAV #}
{% block nav %}
<section class="main-nav">
<h-grid> <div class="nav-col">

  <div class="main-logo">
    {{ fn('the_custom_logo') }}

    {% if logo_mobile %}
      <div class="mobile-logo">
        <a href="{{ home_url }}"> <img src="{{ logo_mobile }}"> </a>
      </div>
    {% endif %}
  </div>

  <div id="nav-toggle" class="nav-item nav-item--toggle">
    <a>
      <i class="dashicons-before dashicons-menu"></i> <b>Menu</b>
    </a>
  </div>

  <nav class="nav-item-wrapper">
  {% for item in nav.items %}
    <div class="nav-item {{ item.class }}">
      <a href="{{ item.url }}"> {{ item.title }} </a>

      {# child menu #}
      {% if item.children %}
        <div class="nav-dialog nav-dialog--children">
          {% for child in item.children %}
            <a href="{{ child.url }}">{{ child.title }}</a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
  </nav>


  <div class="nav-extra">
    <a href="/my-account/" class="button-passive">
      <i class="dashicons-before dashicons-admin-users"></i> Login
    </a>

    {% include "woo/_cart-nav.twig" %}

    {# Search #}
    <form class="menu-item search-form" method="get" action="{{ home_url }}">
      <input id="search" type="search" name="s" placeholder="Search">
      <label for="search" class="search-toggle"> <i class="dashicons-before dashicons-search"></i> </label>
    </form>
  </div>

</div> </h-grid>
</section>

{% endblock %}

  {# MAIN CONTENT #}
  {% block content %}{% endblock %}

  {# Use mixin `@sticky-footer($height-px)` to push the footer when content is not high enough #}
  <div id="footer-push"></div>
</div>

{# MAIN FOOTER #}
{% block footer %}
<footer class="main-footer">
<h-grid>
  <nav class="footer-nav large-12">
    {% for item in nav.items %}
      <a href="{{ item.link }}">{{ item.title }}</a>
    {% endfor %}
  </nav>
</h-grid>

<h-grid>
  <div class="footer-legal large-8">
    &copy; {{ "now" | date("Y") }} {{ site.name }}

    <a href="/privacy-policy">Privacy Policy</a>
    <a href="/sitemap.xml">Sitemap</a>
  </div>

    {# https://github.com/hrsetyono/generator-edje/wiki/(Jetpack)-Social-Menu #}
  <div class="footer-social large-4">
    {% for item in social_nav.items %}
      <a class="social-logo social-logo__{{ item.title }}" href="{{ item.link }}"></a>
    {% endfor %}
  </div>
</h-grid>
</footer>
{% endblock %}

{{ wp_footer }}

</body>
</html>
