<!DOCTYPE html>
<html {{ site.language_attributes }}>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ wp_title }}</title>

  {{ wp_head }}
</head>

<body class="has-fixed-nav {{ body_class }}">

<div id="main-wrapper">

<section class="main-nav">
<h-grid> <div class="large-12 nav-wrapper">
  
  <div class="nav-logo">
    {{ fn('the_custom_logo') }}
  </div>

  <div id="nav-toggle" class="nav-toggle">
    <a>
      <i class="dashicons-before dashicons-menu"></i> <b>Menu</b>
    </a>
  </div>

  <nav class="nav-items">
  {% for item in nav.items %}
    <div class="nav-item {{ item.class }}">
      <a href="{{ item.url }}"> {{ item.title }} </a>

      {% if item.children %}
        <div class="nav-children">
        {% for child in item.children %}
          <a href="{{ child.url }}">{{ child.title }}</a>
        {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
  </nav>

  <div class="nav-extra">
    <a href="/my-account/" class="button button--passive">
      <i class="dashicons-before dashicons-admin-users"></i> Login
    </a>

    {% include "woo/_cart-nav.twig" %}

    <form class="nav-search" method="get" action="{{ home_url }}">
      <input id="search" type="search" name="s" placeholder="Press Enter to search">

      <label for="search" class="button button--passive">
        <i class="dashicons-before dashicons-search"></i>
        <span>Search</span>
      </label>
    </form>
  </div>

</div> </h-grid>
</section>


<main>
  {% block content %}{% endblock %}
</main>


<footer class="main-footer">
  {% if footer_widgets %}
    <div class="footer-widgets">
      <h-grid> {{ footer_widgets }} </h-grid>
    </div>
  {% endif %}

  <div class="footer-bar">
    <h-grid>
      <div class="copyright large-6">
        <header> Copyright &copy; {{ "now" | date("Y") }} {{ site.name }} </header>

        {% for i in social_nav.items %}
          <a href="{{ i.url }}" target="_blank" class="social-logo social-logo__{{ i.title }}"> </a>
        {% endfor %}
      </div>

      <div class="partners large-6">
        <header>Created by:</header>
        <a href="https://pixelstudio.id" target="_blank">
          <img src="https://cdn.setyono.net/pixelstudio/partner-logo.png">

          <div class="partner-caption">
            <h5>Pixel Studio</h5>
            <p>Web & App Design</p>
          </div>
        </a>
      </div>

    </div> </h-grid>
  </div>
</footer>

{{ wp_footer }}

</body>
</html>
