{{ fn("timber_set_product", p) }} {# set context #}

<div class="product-tease">
  <figure>
    <a href="{{ p.link }}">
      <img src="{{ p.thumbnail ? p.thumbnail.src('medium') : fn('wc_placeholder_img_src') }}">
    </a>
  </figure>

  <div class="product-tease-content">
    {% do action('woocommerce_before_shop_loop_item_title') %}

    <h3>
      <a href="{{ p.link }}">{{ p.title }}</a>
    </h3>

    {% do action("woocommerce_after_shop_loop_item_title") %}
    {% do action("woocommerce_after_shop_loop_item") %}
  </div>
</div>
