<div class="categories">
  {% if blog_menu %}
    {% for i in blog_menu.items %}

      {% if i.title in ['More', 'more', '...'] %}
        <div class="category-menu">
          <a> <i class="icon">more_horiz</i> </a>

          <div class="menu-tip">
            {% for c in i.children %}
              <a href="{{ c.url }}">{{ c.title }}</a>
            {% endfor %}
          </div>
        </div>

      {% else %}
        <a href="{{ i.url }}" {% if 'current-menu-item' in i.classes %} class="active" {% endif %}>
          {{ i.title }}
        </a>
      {% endif %}
    {% endfor %}

  {% else %}
    <a href="{{ blog_url }}" {% if not term %} class="active" {% endif %}>All</a>

    {% for c in categories %}
      <a href="{{ c.link }}" {% if c.title == term.name %} class="active" {% endif %}>{{ c.title }}</a>
    {% endfor %}
  {% endif %}
</div>
