{% extends "layout.twig" %}
{% block content %}

{# Banner #}
{% if post %}
<section class="post-banner {{ not post.thumbnail ? 'no-banner' : '' }} {{ post.thumbnail.width < 1280 ? 'post-banner-mini' : '' }}"
  style="background-image: url('{{ post.thumbnail.src('large') }}');">
  <h-row class="post-row"><h-column class="post-col">

    <div class="post-tip">
      <span>Latest {{ term ? term.name : 'Post' }}</span>
    </div>

    <h1>{{ post.title }}</h1>
    <time datetime="{{ post.post_date | date('Y-m-d') }}"> {{ post.post_date | date }} </time>

    {{ post.get_preview(25, false, false) | wpautop }}

    <a href="{{ post.link }}" class="post-button">Read More</a>

  </h-column></h-row>
</section>
{% endif %}

<h-row class="post-row">
<h-column class="post-col" id="content">

  {% include "partials/_categories.twig" %}
  {% include "partials/_posts.twig" %}
  {% include "partials/_pagination.twig" %}

</h-column>
</h-row>

{% endblock %}
