{% extends "layout.twig" %}
{% block content %}

{# Banner #}
<section class="post-banner"
  style="width: {{ post.thumbnail.width }}px; background-image: url('{{ post.thumbnail.src('large') }}');">
</section>

{# Content #}
<article class="post-content">
<h-row class="post-row"><h-column class="post-col">

  <header class="post-header">
    <h1>{{ post.title }}</h1>
    <div class="post-info">
      <time datetime="{{ post.post_date | date('Y-m-d') }}">
        {{ post.post_date | date }}
      </time>
    </div>
  </header>

  <section class="post-body">
    {{ post.content }}
  </section>

  {# Author #}
  <footer class="post-author">

    <figure class="author-image">
      <img src="{{ post.author.avatar.src }}" alt="{{ post.author.display_name }}">
    </figure>

    <div class="author-bio">
      <h6>{{ post.author.display_name ? post.author.display_name : gravatar.displayName }}</h6>
      <p>{{ post.author.description ? post.author.description : gravatar.aboutMe }}</p>
    </div>

    {% if post.author.user_url %}
      <a href="{{ post.author.user_url }}" class="post-button">Follow</a>
    {% endif %}

  </footer>

</h-column></h-row>
</article>


<section class="post-footer">
<h-row class="post-row"><h-column class="post-col">

  {# Suggestion #}
  <div class="post-suggest">
  <h-row>
    {% if post.next %}
      <h-column class="suggest-col">
        <a href="{{ post.next.link }}">
          <div class="suggest-item" style="background-image: url('{{ post.next.thumbnail.src('medium') }}');">
            <div class="post-tip"><span>Read this next</span></div>
            <article>
              <h5>{{ post.next.title }}</h5>
            </article>
          </div>
        </a>
      </h-column>
    {% endif %}

    {% if post.prev %}
      <h-column class="suggest-col">
        <a href="{{ post.prev.link }}">
          <div class="suggest-item" style="background-image: url('{{ post.prev.thumbnail.src('medium') }}');">
            <div class="post-tip"><span>You might enjoy</span></div>
            <article>
              <h5>{{ post.prev.title }}</h5>
            </article>
          </div>
        </a>
      </h-column>
    {% endif %}
  </h-row>
  </div>

  {# Comments #}
  {% include "partials/_comments.twig" %}

</h-column></h-row>
</section>


{% endblock %}
