{% extends "layout.twig" %}
{% block content %}

{# Banner #}
{% if post.thumbnail %}
<section class="post-banner {{ post.thumbnail.width < 1280 ? 'post-banner-mini' : '' }}"
  style="background-image: url('{{ post.thumbnail.src('large') }}');">
</section>
{% endif %}

{# Content #}
<article class="post-content">
<h-row class="post-row"><h-column class="post-col">

  <header class="post-header">
    <h1>{{ post.title }}</h1>

    <div class="post-meta">
      {% include "partials/_post-meta.twig" %}
    </div>
  </header>

  <section class="post-body">
    {{ post.content }}
  </section>

  {# Author #}
  <footer class="post-author">

    <figure class="author-image">
      <img src="{{ post.author.avatar }}" alt="{{ post.author.display_name }}">
    </figure>

    <div class="author-bio">
      <h6><a href="{{ post.author.link }}" title="See all posts by {{ post.author.display_name }}">
        {{ post.author.display_name }}
      </a></h6>
      <p>{{ post.author.description }}</p>
    </div>

    {% if post.author.user_url %}
      <a href="{{ post.author.user_url }}" target="_blank" class="post-button">Follow</a>
    {% endif %}

  </footer>

</h-column></h-row>
</article>


<section class="post-footer">
<h-row class="post-row"><h-column class="post-col">

  {# Related #}
  {% if fn('class_exists', 'Jetpack_RelatedPosts') %}
    {% filter shortcodes %} [jetpack-related-posts] {% endfilter %}
  {% else %}
    <div id="jp-relatedposts" class="jp-relatedposts jp-next-prev">
      <h3 class="jp-relatedposts-headline"><em>You May Like</em></h3>
      <div class="jp-relatedposts-items jp-relatedposts-items-visual">
        {% if post.prev %}
          {% include "partials/_next-prev.twig" with { p: post.prev } %}
        {% endif %}

        {% if post.next %}
          {% include "partials/_next-prev.twig" with { p: post.next } %}
        {% endif %}
      </div>
    </div>
  {% endif %}

  {# Comments #}
  {% include "partials/_comments.twig" %}

</h-column></h-row>
</section>


{% endblock %}
