{# CART DIALOG #}
<div class="menu-item" id="menu-cart">
  {# toggle #}
  <button id="cart-toggle">
    Cart {% if not woo.cart.is_empty %} ({{ woo.cart.get_cart_contents_count }}) {% endif %}
    <i class="dashicons-before dashicons-cart"></i>
  </button>

  {# dialog #}
  <div class="cart-dialog {% if woo.cart.is_empty %} cart-is-empty {% endif %}">
    <h3 class="cart-title">Your Cart</h3>

    {% if woo.cart.is_empty %}
      <div class="cart-tagline">
        <p>Cart is Empty.</p>
        <a href="/products/" class="button">Shop Now</a>
      </div>
    {% else %}
      <div class="cart-items-wrapper">
        <table class="cart-items">
          {% for key, item in woo.cart.cart_contents %}
            <tr>
              <td class="remove-col">
                <a href="{{ woo.cart.get_remove_url(key) }}" title="Remove this Item">
                  <strong>×</strong>
                </a>
              </td>
              <td class="image-col">
                {{ item.data.get_image("thumbnail") }}
              </td>
              <td class="name-col">
                <strong><a href="{{ item.data.get_permalink }}">{{ item.data.get_title }}</a></strong> <br>
                {{ woo.cart.get_item_data(item) }}
              </td>
              <td class="price-col">
                <strong>{{ fn("wc_price", item.line_total) }}</strong> <br>
                Qty: {{ item.quantity }}
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>

      <div class="cart-actions">
        <p>
          <strong>Total: </strong> {{ woo.cart.get_cart_total }}
        </p>
        <a href="{{ woo.cart.get_checkout_url }}" class="button">Continue Payment</a>
      </div>
    {% endif %}

  </div>
</div>
