{{!< default }}

{{#author }}
  <header>
    {{#if image }}
      <figure>
        <img src="{{ image }}" alt="{{ name }}'s Picture">
      </figure>
    {{/if }}
    <h1>{{ name }}</h1>
    <p>{{ bio }}</p>

    <address>
      {{#if location }}
        <p>
          {{ location }}
        </p>
      {{/if }}
      {{#if website }}
        <p>
          <a href="{{ website }}" target="_blank">
            {{ website }}
          </a>
        </p>
      {{/if }}
      <p>
        {{ plural ../pagination.total empty="No posts" singular="% post" plural="% posts" }}
      </p>
    </address>

  </header>
{{/author }}

{{> "posts" }}