{{ fn("timber_set_product", post) }} {# set context #}

<li>
<article class="{{ post.class }}">

  <figure>
    {% if post.thumbnail %}
      <img src="{{ post.thumbnail.src('thumbnail') }}">
    {% else %}
      <img src="{{ images }}/placeholder.png">
    {% endif %}
  </figure>

  <div class="content">
    {% do action('woocommerce_before_shop_loop_item_title') %}
    <h3>
      <a href="{{ post.link }}">{{ post.title }}</a>
    </h3>

    {% do action("woocommerce_after_shop_loop_item_title") %}
    {% do action("woocommerce_after_shop_loop_item") %}
  </div>
</article>
</li>
