<figure class="author-image">
  <img src="{{ author.avatar }}" alt="{{ author.display_name }}">
</figure>

<div class="author-text">
  <h6>
    <a href="{{ author.link }}" title="See all posts by {{ author.display_name }}"> {{ author.display_name }} </a>
  </h6>

  <p>{{ author.description }}</p>

  <p>
    <a href="{{ author.user_url }}" class="author-url">
      {{ author.user_url }}
    </a>
  </p>
</div>

{% if author.facebook or author.twitter or author.googleplus %}
  <div class="author-links">
    <h6>Follow Me</h6>
    {{ _self.author_link(author.facebook, 'facebook') }}
    {{ _self.author_link('https://twitter.com/' ~ author.twitter, 'twitter') }}
    {{ _self.author_link(author.googleplus, 'google-plus') }}
  </div>
{% endif %}


{# ///// #}

{% macro author_link(url, icon) %}
  {% if url %}
    <a href="{{ url }}" class="social-logo social-logo__{{ icon }}" target="_blank"></a>
  {% endif %}
{% endmacro %}
