<figure class="author-image">
  <img src="{{ author.avatar }}" alt="{{ author.display_name }}">
</figure>

<div class="author-text">
  <h6>
    <a href="{{ author.link }}" title="See all posts by {{ author.display_name }}"> {{ author.display_name }} </a>
  </h6>

  <p>{{ author.description }}</p>

  <p>
    <a href="{{ author.user_url }}" class="author-url">
      {{ author.user_url }}
    </a>
  </p>
</div>

{# Author Social Media #}
{% set user_facebook = attribute( author, 'autodescription-user-settings').facebook_page %}
{% set user_twitter = attribute( author, 'autodescription-user-settings').twitter_page %}
{% if user_facebook or user_twitter %}
  <div class="author-links">
    <h6>Follow Me</h6>

    {% if user_facebook %}
      <a href="{{ user_facebook }}" class="social-logo social-logo__facebook" target="_blank"></a>
    {% endif %}

    {% if user_twitter %}
      <a href="https://twitter.com/{{ user_twitter | trim('@') }}" class="social-logo social-logo__twitter" target="_blank"></a>
    {% endif %}
  </div>
{% endif %}
