{{#foreach posts }}
  <article class="{{ post_class }}">
    <header>
      <h2>
        <a href="{{url}}">{{{ title }}}</a>
      </h2>
    </header>
    <p>
      {{ excerpt words="30" }}
    </p>
    <footer>
      {{#if author.image }}
        <img src="{{ author.image }}" alt="Author image" nopin="nopin">
      {{/if}}
      {{author}}
      {{tags prefix=" on "}}
      <time datetime="{{ date format='YYYY-MM-DD' }}">
        {{ date format="DD MMMM YYYY" }}
      </time> 
    </footer> 
  </article>
{{/foreach }}

{{ pagination }}
